:root {
    --light-background: #F0F4F8;
    --board: #7D9DBF;
    --control-buttons: #fee6ab;
    --control-buttons-hover: #ffcd69;
    --text-color: #333333;
    --board-text-color: #282828;
    --border-color: #CCCCCC;
    --score-background: #BFD7ED;
}

html, body {
    width: 100%;
    margin: 0 auto;
    touch-action: none;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: var(--light-background);
    font-weight: bold;
    color: var(--text-color);
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 3em;
    margin: 20px 5px 5px 10px;
    color: var(--text-color);
}

main {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
}

#board button {
    font-family: Arial;
    font-weight: bold;
    width: 31vw;
    height: 31vw;
    max-width: 110px;
    max-height: 110px;
    font-size: 80px;
    color: var(--board-text-color);
    text-align: center; 
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 1px;
    -webkit-appearance: none;
    border: 0;
    border-radius: 10px;
    background-color: var(--board);
}

#controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    font-size: 1.2em;
    min-width: 300px;
}

#controls button {
    font-size: 1.2em;
    font-family: Geneva, Verdana, sans-serif;
    /* font-weight: 600; */
    color: var(--text-color);
    text-align: center; 
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    padding: 3px 8px;
    margin: 3px;
    -webkit-appearance: none;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--control-buttons);
    transition: background-color .2s ease-out;
}

#controls button:hover {
    background-color: var(--control-buttons-hover);
}

#scoreBoardContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px dotted var(--border-color);
    padding: 5px;
    font-size: 1.2em;
    background-color: var(--score-background);
}

#scoreBoard {
    display: flex;
    flex-direction: row;
}

#scoreBoard div {
    margin: 20px;
    transition: all .2s ease-in-out;
}

@media screen and (max-width: 600px) {
    main {
        height: 100%;
    }
}
