html, body {
    width: 100%;
    margin: 0 auto;
    touch-action: none;
    overflow-y: hidden;
    overflow-x: hidden;
}
body, button {
    font-family: 'Courier New', Courier, monospace;
}
#board button {
    font-family: arial;
}
h1 {
    font-size: 3em;
    margin: 20px 5px 5px 10px;
}
main {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
}
#board button {
    width: 31vw;
    height: 31vw;
    max-width: 110px;
    max-height: 110px;
    font-size: 80px;
    color: black;
    text-align: center; 
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 1px;
    -webkit-appearance: none;
    border: 0;
    border-radius: 10px;
}

#controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    font-size: 1.2em;
    min-width: 300px;
}
#controls button {
    font-size: 1.2em;
    
    color: black;
    text-align: center; 
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    padding: 3px 8px 3px 8px;
    margin: 3px;
    -webkit-appearance: none;
    border: 1px solid black;
    border-radius: 2px;
}

#scoreBoardContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px dotted black;
    padding: 5px;
    font-size: 1.2em;
}
#scoreBoard {
    display: flex;
    flex-direction: row;
}
#scoreBoard div {
    margin: 20px;
}
#xScore, #oScore, #catScore {
    transition: all .2s ease-in-out;
    /* color: rgb(250, 116, 79) */
}

/* @media screen and (max-width: 600px) {
    main {
        height: 100%
    }
} */